{% extends "base.html" %}
{% block title %}Lista juegos{% endblock %}
{% block content %}

    {% if not lista1 and not lista2 %}
    
        <div class="align_centrado">
            <p>No existe ningún juego que empieze por <strong><ins>{{cadena}}</ins></strong> .</p>
        </div>

        <br/>
        <br/>
        <br/>
        <div class="align_centrado">
            <a href="/juegos" align="center">Volver a la página principal</a>
        </div>
        

    {% elif not lista1 %}

        
        </br>
        <table align="center">
            
            <caption><h3>Se han encontrado <ins>{{njuegos}}</ins> juegos que empiezan por <ins>{{cadena}}</ins> :</h3></caption>

            <tr>
                <td><strong>Nº</strong></td>
                <td><strong>Título</strong></td>
                <td><strong>Desarrollador</strong></td>
                <td><strong>Más info</strong></td>
            </tr>

            {% for datos in lista2-%}
                <tr>
                    <td><strong>{{datos.numero}}</strong></td>
                    <td>{{datos.nombre}}</td>
                    <td>{{datos.desarrollador}}</td>
                    <td><a href="/juego/{{datos.id}}">Detalle</a></td>
                </tr>
            {%endfor-%}

        </table>
        <br/>
        <br/>
        <p>{{nc}}</p>
        <br/>
        <div class="align_centrado">
            <a href="/juegos" align="center">Volver a la página principal</a>
        </div>
        
       
 
    {% else %}

        <div class="align_lista_juegos">
            <h3>Hay <ins>{{njuegos}}</ins> juegos disponibles: </h3>
            {% for njuego in lista1-%}
                <p>{{njuego}}</p>
            {%endfor-%}
        </div>

        <br/>
        <br/>
        <br/>
        <div class="align_centrado">
            <a href="/juegos" align="center">Volver a la página principal</a>
        </div>
        

    {% endif %}

{% endblock %}

