{% extends "base.html" %}
{% block title %}{{nombre}}{% endblock %}
{% block content %}
    
    <table align="center">
       <caption><h3>Información detallada:</h3> </caption>

        {% for datos in detalles-%}
            <tr>
                <td><strong>ID</strong></td>
                <td>{{datos.id}}</td>
            </tr>
            <tr>
                <td><strong>Nombre</strong></td>
                <td>{{datos.nombre}}</td>
            </tr>
            <tr>
                <td><strong>Sistema</strong></td>
                <td>{{datos.sistema}}</td>
            </tr>
            <tr>
                <td><strong>Distribuidor</strong></td>
                <td>{{datos.distribuidor}}</td>
            </tr>
            <tr>
                <td><strong>Desarrollador</strong></td>
                <td>{{datos.desarrollador}}</td>
            </tr>
            <tr>
                <td><strong>Categoria</strong></td>
                <td>{{datos.categoria}}</td>
            </tr>
            <tr>
                <td><strong>Año</strong></td>
                <td>{{datos.año}}</td>
            </tr>
                
       {%endfor-%}
    </table>

    <br/>
    <br/>
    <br/>
    <div class="align_centrado">
        <a href="/juegos" align="center">Volver a la página principal</a>
    </div>
    
    

{% endblock %}
